// Place all the styles related to the seating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#accordion {
  text-align: center;
}

.panel-heading .panel-title {
  font-size: 20px;
  margin:5px;
}

.row .panel-default {
  padding: 0px 0px;
  height: 128px;
  width: 94px;
  margin: 5px;
}

.row .panel-body {
  padding: 0px 0px;
  margin: 10px;
}

#accordion .row {
  vertical-align: middle;
  padding: 0px 0px;
  max-width: 832px;
  margin: auto;
}